.section__pading {
  padding: 3rem 1rem;
}

.relative {
  position: relative;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb__2 {
  margin-bottom: 4rem;
  display: block;
}

.app__outline__image {
  display: flex;
  opacity: 40;
  margin-left: 35rem;
  top: 0px;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
}


.container {
  max-width: 968px;
  margin-left: 0;
  margin-right: 0;
}

.grid {
  display: flex;
  gap: 1.5rem;
}

/* Breakpoints */

@media screen and (min-width: 2000px) {
  
}

@media screen and (max-width: 1150px) {
  
}

@media screen and (max-width: 850px) {
  .section__pading {
    padding: 2rem;
  }

 
}

@media screen and (max-width: 650px) {
  .section__pading {
    padding: 1rem 1rem;
  }

}

@media screen and (max-width: 450px) {
  .app__outline__image {
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.2rem;
    margin-left: 0;
    right: 10px;
  }
}